@page
@model DSRFlowerShop.API.Pages.IndexModel
@{
    ViewData["Title"] = "DSRFlowerShop API";
}

<div class="stamp"></div>

<div class="text-left m-3">
    <h1>DSRFlowerShop</h1>
    <div class="mt-3">
        <a class="d-block mb-2" href="/health">Check API health</a>
        <a class="d-block mb-2" href="/api">Swagger</a>
    </div>
</div>